.navbar-brand img{
	width: 70px;
	height: 55px;
} 

header{
	height: 76px;
}

/* Large devices (large desktops, 1300px and up) */
footer{
	background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

/* Small devices*/
@media (min-width: 1300px) {

  /* Pull out the header and footer */
  footer {
    position: fixed;
    bottom: 0;
  }
}

.content-fullwindow-container{
	min-height: 100vh;;
}

.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial;
}