.carousel img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 550px;
    max-height: 550px;
    width: auto;
}

header{
	height: 76px;
}

/* Large devices (large desktops, 1200px and up) */
footer{
	background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

@media (min-width: 1200px) {

  /* Pull out the header and footer */
  footer {
    position: fixed;
    bottom: 0;
  }
}


#carouselMusicFirms{
	
}