@model IEnumerable<SimpleMusicStore.Models.Firm>
@{
    ViewBag.Title = "Все фирмы";
}
<table class="table">
    <tr><td>Название</td><td>Описание</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Title</td><td>@item.Description</td></tr>
    }
</table>