@using SimpleMusicStore.Models.Enums
@model SimpleMusicStore.Models.MusicalInstruments.ElectricGuitar
@{
    ViewBag.Title = "Редактирование товара";
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div class="container py-2 content-fullwindow-container">
    <h2 class="text-center font-weight-light">Редактирование товара</h2>
    <form asp-action="edit" asp-controller="ElectricGuitar" asp-route-id="@Model.Id">
        @await Html.PartialAsync("_EditProductFormPart")
        <div class="form-group">
            <label asp-for="Type" class="control-label">Тип гитары</label>
            <select asp-for="Type" asp-items="Html.GetEnumSelectList<ElectricGuitarType>()" class="form-control"></select>
        </div>
        <input type="hidden" asp-for="PhotoUrl" />
        <div class="form-group">
            <input asp-action="Edit" type="submit" value="Сохранить" class="btn btn-success" />
            <input asp-controller="Home" asp-action="Index" type="submit" value="Отмена" class="btn btn-light" />
        </div>
    </form>
</div>