@using SimpleMusicStore.Models.Enums
@model SimpleMusicStore.Models.MusicalInstruments.AcousticGuitar
@{
    ViewBag.Title = "Редактирование товара";
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div class="container py-2 content-fullwindow-container">
    <h2 class="text-center font-weight-light">Редактирование товара</h2>
    <form asp-action="edit" asp-controller="AcousticGuitar" asp-route-id="@Model.Id">
        @await Html.PartialAsync("_EditProductFormPart")
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" asp-for="WithPickup">
            <label asp-for="WithPickup" class="form-check-label">Со звукоснимателем?</label>

        </div>
        <input type="hidden" asp-for="PhotoUrl" />
        <div class="form-group">
            <input asp-action="Edit" type="submit" value="Сохранить" class="btn btn-success" />
            <input asp-controller="Home" asp-action="Index" type="submit" value="Отмена" class="btn btn-light" />
        </div>
    </form>
</div>